%div{:id => 'order', :class => 'modal'}
  %object{:id => 'order_window', :name => 'order_window', :data => ''}
  %ul{:id => 'order_nav', :class => 'button_nav'}
    %li
      %a{:href => '#close', :class => 'close button'} Close
    %li
      %a{:href => '#print', :class => 'print button'} Print