%h2{:id => 'repair_notice'} No repairs.
%table{:id => 'repair_lines'}
  %thead
    %tr
      %th Name
      %th Phone
      %th Title
      %th Serial Number
      %th Description
      %th Symptoms
      %th Notes
      %th Warranty
      %th Cost
      %th Edit
      %th Print
  %tbody
    %tr{:class => 'repair_line'}
      %td{:class => 'name'}
      %td{:class => 'phone'}
      %td{:class => 'title'}
      %td{:class => 'serial'}
      %td{:class => 'description'}
      %td{:class => 'symptoms'}
      %td{:class => 'notes'}
      %td{:class => 'warranty'}
      %td{:class => 'cost'}
      %td{:class => 'edit'}
        %a{:href => '#edit', :class => 'edit button'} Edit
      %td{:class => 'print'}
        %a{:href => '#print', :class => 'print button'} Print