%div
  .time
    FROM:
    =Time.parse(@start_date.to_s).strftime("%A, %B %d, %Y")
    %br/
    TO:
    =Time.parse(@end_date.to_s).strftime("%A, %B %d, %Y")
%table
  %thead
    %tr
      %th
        %b
          Employee
      %th
        %b
          Total Hours Worked
  -@report.users.each do |user|
    %tr
      %td
        =@report.users_timecard[user.person.id][:first_name]
        =@report.users_timecard[user.person.id][:middle_name]
        =@report.users_timecard[user.person.id][:last_name]
      %td
        =@report.users_timecard[user.person.id][:sum]