%div
  .time
    FROM:
    =Time.parse(@start_date.to_s).strftime("%A, %B %d, %Y")
    %br/
    TO:
    =Time.parse(@end_date.to_s).strftime("%A, %B %d, %Y")
-@report.users.each do |user|
  %table.reports
    %th.reports
      %tr.reports
        %th.reports
          %b
            Employee:
          =@report.users_timecard[user.person.id][:first_name]
          =@report.users_timecard[user.person.id][:middle_name]
          =@report.users_timecard[user.person.id][:last_name]
          %b
            Total Hours Worked:  
            =@report.users_timecard[user.person.id][:sum]
      %tr.reports
        %th.reports
          Time In
        %th.reports
          Time Out
        %th.reports
          Duration in Hours
    -@report.users_timecard[user.person.id][:timecards].each do |timecard|
      %tr.reports
        %td.reports
          =timecard.begin.to_time.strftime("%A, %B %d, %Y %I:%M %p")
        %td.reports
          -if timecard.end
            =timecard.end.to_time.strftime("%A, %B %d, %Y %I:%M %p")
        %td.reports
          =@report.users_timecard[user.person.id][timecard.id]
  %br/
  %br/