/* Colors */
$black: #0F1014
$yellow: #E7CD4B
$light_gray: #CACACA
$gray: #9E9E9E
$white: #FBFBF3

/* Fonts */
@include font-face("BrandishRegular", font-files("/fonts/brandishregular-webfont.woff", woff, "/fonts/brandishregular-webfont.ttf", truetype, "/fonts/brandishregular-webfont.svg#webfont9QOU8SQF", svg), "/fonts/brandishregular-webfont.eot")
@include font-face("LatinModernMonoLight10Regular", font-files("/fonts/lmmonolt10-regular-webfont.woff", woff, "/fonts/lmmonolt10-regular-webfont.ttf", truetype, "/fonts/lmmonolt10-regular-webfont.svg#webfontpr3g0jrX", svg), "/fonts/lmmonolt10-regular-webfont.eot")
@include font-face("LatinModernMonoLight10Bold", font-files("/fonts/lmmonolt10-bold-webfont.woff", woff, "/fonts/lmmonolt10-bold-webfont.ttf", truetype, "/fonts/lmmonolt10-bold-webfont.svg#webfontNCHNbbVb", svg), "/fonts/lmmonolt10-bold-webfont.eot")

html, body
  height: 100%
  
body
  background-color: $white
  color: $black
  font-family: LatinModernMonoLight10Regular, Tacoma, serif
  font-size: 16px
  
header,
footer
  background-color: $black
  color: $white
  
  a
    +link_colors($white)
  
header
  height: 64px
  padding: 0px 20px
   
  hgroup
    margin-top: 6px
    float: left
    
    h1
      font-size: 38px
      
    h2
      margin-top: 2px
      font-size: 10px
      text-align: center
    
section
  padding: 0px 20px
  
footer
  position: relative
  margin-top: -110px
  padding: 0px 20px
  height: 110px
  clear: both