section#customer
  
  div#customer_search_container
    width: 598px
    margin: 20px 0px
    padding: 10px
    background-color: $light_gray
    border: 2px $black solid
    @include border-radius(10px)
    
    input
      font-size: 20px
      width: 586px
  
  div#customer_page_container
    position: relative
    padding: 10px
    margin-bottom: 20px
    border: 2px $black solid
    @include border-radius(5px)
      
    div#customer_form
    
    div#customer_history
      position: absolute
      top: 20px
      right: 20px
      padding: 10px
      max-height: 400px
      border: 2px $black solid
      @include border-radius(5px)
      overflow: auto
      background-color: $light_gray
      
      table
        tr:hover
          cursor: default
      
    div#customer_search_results
      display: none