section#review

  div#review_header
    div#review_options
      position: relative
      float: left
      margin: 20px 0px
      padding: 10px
      padding-right: 0px
      background-color: $light_gray
      border: 2px $black solid
      @include border-radius(10px)
      
      ul
        > li
          margin-bottom: 0px
      
  div#review_lines
    float: left
    width: 70%
    
  div#review_summary
    float: right
    width: 200px
    margin-left: 20px
    padding: 10px
    background-color: $light_gray
    @include border-radius(5px)
    
    table
      tr
        td
          text-align: right
          
          &:first-child
            font-family: LatinModernMonoLight10Bold, Tacoma, serif