h1, h2, h3, h4, h5, h6
  font-family: BrandishRegular, Helvetica
  
h1
  font-size: 46px
  
h2
  font-size: 32px
  
table
  width: 100%
  border-collapse: collapse
  
  td, th
    padding: 5px
    
    &:first-child
      padding-left: 0px
      
    &:last-child
      padding-right: 0px
    
  thead
    font-family: LatinModernMonoLight10Bold, Tacoma, serif
    
    tr
      height: 24px
      
  tbody
    tr:hover,
    tr.selected
      background-color: $light_gray
      cursor: pointer