%ul{:id => 'overview_tills_nav', :class => 'button_nav'}
  %li
    %a{:href => '#refresh', :class => 'button refresh'} Refresh
%h2{:id => 'overview_tills_notice'} No Tills.
%ul{:id => 'overview_tills_lines'}
  %li{:class => 'overview_tills_line'}
    %ul{:class => 'overview_tills_line_nav button_nav'}
      %li
        %a{:href => '#audit', :class => 'button audit'} Audit
    %hgroup{:class => 'overview_tills_line_information'}
      %h3{:class => 'overview_tills_line_title'}
      %h4{:class => 'overview_tills_line_description'}