%table
  %thead
    %tr
      %th Title
      %th Description
      %th SKU
      %th Price
      %th Store Credit Price
      %th Cash Price
      %th Taxable
  %tbody
    %tr{:"data-object-id" => 0}
      %td{:class => 'title'}
      %td{:class => 'description'}
      %td{:class => 'sku'}
      %td{:class => 'price'}
      %td{:class => 'credit_price'}
      %td{:class => 'cash_price'}
      %td{:class => 'taxable'}