%table
  %thead
    %tr
      %th Title
      %th Description
      %th SKU
      %th Price
      %th Store Credit Value
      %th Cash Value
      %th Taxable
  %tbody
    %tr
      %td XBox 360
      %td Lorem Ipsum...
      %td 000000000111
      %td $100.00
      %td $40.00
      %td $20.00
      %td Yes