%table
  %thead
    %tr
      %th Title
      %th Description
      %th Properties
      %th SKU
      %th Price
      %th Taxable
  %tbody
    %tr{:"data-object-id" => 0}
      %td{:class => 'title'}
      %td{:class => 'description'}
      %td{:class => 'properties'}
        %ul
      %td{:class => 'sku'}
      %td{:class => 'price'}
      %td{:class => 'taxable'}