%ul{:id => 'dashboard_nav'}
  %li
    %a{:href => "#transactions", :class => 'transactions'}
      %img{:src => '/images/transactions.png', :alt => 'Transactions'}
      %span Transactions
  %li
    %a{:href => "#timeclock", :class => 'timeclock'}
      %img{:src => '/images/timeclock.png', :alt => 'Timeclock'}
      %span Timeclock
  %li
    %a{:href => "#tills", :class => 'tills'}
      %img{:src => '/images/tills.png', :alt => 'Tills'}
      %span Tills
  %li
    %a{:href => "#inventory", :class => 'inventory'}
      %img{:src => '/images/inventory.png', :alt => 'Inventory'}
      %span Inventory
  %li
    %a{:href => "#reports", :class => 'reports'}
      %img{:src => '/images/reports.png', :alt => 'Reports'}
      %span Reports
  %li
    %a{:href => "#users", :class => 'users'}
      %img{:src => '/images/users.png', :alt => 'Users'}
      %span Users