%div{:id => 'employees_overview_header', :class => 'header_container'}
  %form{:action => '#employees_select_form', :id => 'employees_select_form', :method => 'get'}
    %ul
      %li= select_tag :employee, options_for_select([])
  %ul{:class => 'employees_overview_action_nav button_nav'}
    %li
      %a{:href => '#new', :class => 'button new'} New Employee
%ul{:id => 'employees_overview_nav', :class => 'tab_nav'}
  %li
    %a{:href => '#employeees_overview_form', :class => 'employees_overview_form selected'} Employee
%div{:id => 'employees_overview_pages', :class => 'page_container'}
  %div{:id => 'employees_overview_form'}
    = render :partial => 'employees_overview_form'