%ul{:id => 'inventory_nav', :class => 'large_tab_nav'}
  %li
    %a{:href => '#overview', :class => 'overview'} Overview
%ul{:id => 'repairs_nav', :class => 'large_tab_nav'}
  %li
    %a{:href => '#overview', :class => 'overview'} Overview
%ul{:id => 'tills_nav', :class => 'large_tab_nav'}
  %li
    %a{:href => '#overview', :class => 'overview'} Overview
  %li
    %a{:href => '#admin', :class => 'admin'} Admin
%ul{:id => 'timeclock_nav', :class => 'large_tab_nav'}
  %li
    %a{:href => '#overview', :class => 'overview'} Overview
  %li
    %a{:href => '#admin', :class => 'admin'} Admin
%ul{:id => 'transactions_nav', :class => 'large_tab_nav'}
  %li
    %a{:href => '#cart', :class => 'cart'} Cart
  %li
    %a{:href => '#customer', :class => 'customer'} Customer
  %li
    %a{:href => '#payment', :class => 'payment'} Payment
  %li
    %a{:href => '#review', :class => 'review'} Review
%div{:class => 'summary_container'}
  %ul{:id => 'summary', :class => 'summary_nav'}
    %li
      %h2{:id => 'summary_customer'}
    %li 
      %h2 &#124;
    %li
      %h2{:id => 'summary_item_count'} 0 item(s)
    %li
      %h2 &#124;
    %li
      %h2{:id => 'summary_total'} $0.00
  %ul{:id => 'finish', :class => 'button_nav'}
    %li
      %a{:href => '#finish', :class => 'button big disabled'} Finish
%ul{:id => 'employees_nav', :class => 'large_tab_nav'}
  %li
    %a{:href => '#overview', :class => 'overview'} Overview