%ul{:id => 'section_nav', :class => 'large_tab_nav'}
  %li
    %a{:href => '#customer', :class => 'customer selected'} 1. Customer
  %li
    %a{:href => '#cart', :class => 'cart'} 2. Cart
  %li
    %a{:href => '#payment', :class => 'payment'} 3. Payment
  %li
    %a{:href => '#review', :class => 'review'} 4. Review
%ul{:id => 'summary_nav', :class => 'summary_nav'}
  %li
    %h2{:id => 'summary_customer'} Last, First
  %li 
    %h2 &#124;
  %li
    %h2{:id => 'summary_item_count'} 0 item(s)
  %li
    %h2 &#124;
  %li
    %h2{:id => 'summary_total'} $0.00
  %li
    %a{:href => '#finish', :class => 'button'} Finish