%ul{:id => 'transactions_nav', :class => 'large_tab_nav'}
  %li
    %a{:href => '#transactions_cart', :class => 'transactions_cart'} Cart
  %li
    %a{:href => '#transactions_customer', :class => 'transactions_customer'} Customer
  %li
    %a{:href => '#transactions_payment', :class => 'transactions_payment'} Payment
  %li
    %a{:href => '#transactions_review', :class => 'transactions_review'} Review
%div{:class => 'transactions_summary_container'}
  %ul{:id => 'transactions_summary', :class => 'summary_nav'}
    %li
      %h2{:id => 'transactions_summary_customer'}
    %li 
      %h2 &#124;
    %li
      %h2{:id => 'transactions_summary_item_count'} 0 item(s)
    %li
      %h2 &#124;
    %li
      %h2{:id => 'transactions_summary_total'} $0.00
  %ul{:id => 'transactions_finish', :class => 'button_nav'}
    %li
      %a{:href => '#finish', :class => 'button big disabled'} Finish
%ul{:id => 'inventory_nav', :class => 'large_tab_nav'}
  %li
    %a{:href => '#inventory_overview', :class => 'inventory_overview'} Overview
%ul{:id => 'tills_nav', :class => 'large_tab_nav'}
  %li
    %a{:href => '#tills_overview', :class => 'tills_overview'} Overview
  %li
    %a{:href => '#tills_admin', :class => 'tills_admin'} Admin
%ul{:id => 'timeclock_nav', :class => 'large_tab_nav'}
  %li
    %a{:href => '#timeclock_overview', :class => 'timeclock_overview'} Overview
  %li
    %a{:href => '#timeclock_admin', :class => 'timeclock_admin'} Admin
%ul{:id => 'users_nav', :class => 'large_tab_nav'}
  %li
    %a{:href => '#users_overview', :class => 'users_overview'} Overview