%ul{:class => 'section_nav'}
  %li
    %a{:href => '#customer', :class => 'customer active'} 1. Customer
  %li
    %a{:href => '#cart', :class => 'cart'} 2. Cart
  %li
    %a{:href => '#payment', :class => 'payment'} 3. Payment
  %li
    %a{:href => '#review', :class => 'review'} 4. Review
%ul{:class => 'summary_nav'}
  %li
    %h2{:id => 'customer'} Last, First
  %li 
    %h2 &#124;
  %li
    %h2{:id => 'item_count'} 0 item(s)
  %li
    %h2 &#124;
  %li
    %h2{:id => 'total'} $0.00
  %li
    %a{:href => '#finish'} Finish