%div{:id => 'inventory_overview_header', :class => 'header_container'}
  %div{:id => 'inventory_overview_search'}
    %ul{:class => 'alphabet_nav'}
      - ('A'..'Z').each do |letter|
        %li
          %a{:href => "##{letter}", :class => 'button dark'}= letter
    %form{:action => '/', :method => 'get'}
      %div
        = text_field_tag :query, nil, :placeholder => 'Search for an item...'
        %a{:href => '#clear', :class => 'button clear'} X
        %a{:href => '#next', :class => 'button next'} >
        %a{:href => '#prev', :class => 'button prev'} <
        %img{:src => 'images/loading.gif', :alt => 'Loading...', :class => 'loading'}
  %ul{:class => 'inventory_overview_action_nav button_nav'}
    %li
      %a{:href => '#inventory_new', :class => 'button inventory_new'} New Item
%ul{:id => 'inventory_overview_nav', :class => 'tab_nav'}
  %li
    %a{:href => '#inventory_overview_results', :class => 'overview_results selected'} Search Results
%div{:id => 'inventory_overview_pages', :class => 'page_container'}
  %div{:id => 'inventory_overview_results'}
    = render :partial => 'inventory_overview_results'