%div{:id => 'review_header', :class => 'header_container'}  
  %div{:id => 'review_options'}
    = form_for :print, :url => root_path do |f|
      %ul
        %li
          = f.label :quantity, "Receipt Qty."
          = f.text_field :quantity, :value => 1
    %a{:id => 'review_print', :class => 'button dark', :href => '#print'} Print
%ul{:id => 'review_nav', :class => 'tab_nav'}
  %li
    %a{:href => '#review_list', :class => 'review_list selected'} Review
%div{:class => 'page_container'}
  %div{:id => 'review_list'}
    %table
      %thead
        %tr
          %th Qty.
          %th Title
          %th Description
          %th SKU
          %th Subtotal
      %tbody
        %tr
          %td 1
          %td XBox 360
          %td Lorem Ipsum...
          %td 000000000111
          %td $100.00
  %div{:id => 'review_summary'}
    %table
      %tbody
        %tr
          %td Subtotal
          %td $0.00
        %tr
          %td Tax
          %td $0.00
        %tr
          %td Total
          %td $0.00
        %tr
          %td
          %td =========
        %tr
          %td Payment
          %td $0.00
        %tr
          %td
          %td =========
        %tr
          %td Change
          %td $0.00
        