%div{:id => 'tills_adjust', :class => 'modal'}
  %h2 Adjust
  %form{:action => '#tills_adjust', :id => 'tills_adjust', :method => 'get'}
    %ul
      %li
        = label_tag :amount, "Credit / Debit Amount"
        = text_field_tag :amount, nil, :placeholder => '0.00'
    %ul
      %li
        = label_tag :description
        = text_area_tag :description
    %ul
      %li
        %ul{:id => 'tills_adjust_nav', :class => 'button_nav'}
          %li
            %a{:href => '#tills_close', :class => 'tills_close button'} Close
          %li
            %a{:href => '#tills_save', :class => 'tills_save button'} Save