%ul{:id => 'tills_admin_tills_nav', :class => 'button_nav'}
  %li
    %a{:href => '#tills_refresh', :class => 'button tills_refresh'} Refresh
  %li
    %a{:href => '#tills_new', :class => 'button tills_new'} New Till
%h2{:id => 'tills_admin_tills_notice'} No Tills.
%ul{:id => 'tills_admin_tills_lines'}
  %li{:class => 'tills_admin_tills_line'}
    %ul{:class => 'tills_admin_tills_line_nav button_nav'}
      %li
        %a{:href => '#tills_edit', :class => 'button tills_edit'} Edit
      %li
        %a{:href => '#tills_audit', :class => 'button tills_audit'} Audit
      %li
        %a{:href => '#tills_adjust', :class => 'button tills_adjust'} Adjust
    %hgroup{:class => 'tills_admin_tills_line_information'}
      %h3{:class => 'tills_admin_tills_line_title'}
      %h4{:class => 'tills_admin_tills_line_description'}
    %hgroup{:class => 'tills_admin_tills_line_balance'}  
      %h3{:class => 'tills_admin_tills_line_balance'}