%ul{:id => 'tills_admin_nav', :class => 'tab_nav'}
  %li
    %a{:href => '#tills_admin_tills', :class => 'tills_admin_tills selected'} Tills
%div{:id => 'tills_admin_pages', :class => 'page_container'}
  %div{:id => 'tills_admin_tills'}
    = render :partial => 'tills_admin_tills'