%ul{:id => 'tills_overview_tills_nav', :class => 'button_nav'}
  %li
    %a{:href => '#tills_refresh', :class => 'button tills_refresh'} Refresh
%h2{:id => 'tills_overview_tills_notice'} No Tills.
%ul{:id => 'tills_overview_tills_lines'}
  %li{:class => 'tills_overview_tills_line'}
    %ul{:class => 'tills_overview_tills_line_nav button_nav'}
      %li
        %a{:href => '#tills_audit', :class => 'button tills_audit'} Audit
    %hgroup{:class => 'tills_overview_tills_line_information'}
      %h3{:class => 'tills_overview_tills_line_title'}
      %h4{:class => 'tills_overview_tills_line_description'}