%div{:id => 'tills', :class => 'modal'}
  %h2 Select a till...
  = form_for :tills, :url => '#tills' do |t|
    %ul
      %li
        = t.select :id, current_user.tills.all.map { |till| [till.title, till.id] }
    %ul
      %li
        = t.submit "Cancel"
      %li
        = t.submit "Select"