%div{:id => 'till', :class => 'modal'}
  %h2 Select a till...
  %form{:action => '#till'}
    %ul
      %li
        = #t.select :id, @tills.map { |till| [till.title, till.id] }
    %ul
      %li
        %ul{:id => 'till_nav', :class => 'button_nav'}
          %li
            %a{:href => '#cancel', :class => 'cancel button'} Cancel
          %li
            %a{:href => '#select', :class => 'select button'} Select