%ul{:id => 'tills_overview_nav', :class => 'tab_nav'}
  %li
    %a{:href => '#tills_overview_tills', :class => 'tills_overview_tills selected'} Tills
%div{:id => 'tills_overview_pages', :class => 'page_container'}
  %div{:id => 'tills_overview_tills'}
    = render :partial => 'tills_overview_tills'