%ul{:id => 'timeclock_timecards_nav', :class => 'button_nav'}
  %li
    %a{:href => '#add', :class => 'button add'} Add Timecard
%h3{:id => 'timeclock_timecards_total'}
%h2{:id => 'timeclock_timecards_notice'} No timecards.
%ul{:id => 'timeclock_timecards_lines'}
  %li{:class => 'timeclock_timecards_line'}
    %ul{:class => 'timeclock_timecards_line_nav button_nav'}
      %li
        %a{:href => '#delete', :class => 'button delete'} X
      %li
        %a{:href => '#edit', :class => 'button edit'} Edit
    %hgroup{:class => 'timeclock_timecards_line_information'}
      %h3{:class => 'timeclock_timecards_line_total'}
      %h4{:class => 'timeclock_timecards_line_time'}