%div{:id => 'timeclock_clock_in_out', :class => 'modal'}
  %h2 Clock In / Out
  %form{:action => '#timeclock_clock_in_out', :id => 'timeclock_clock_in_out', :method => 'get'}
    %ul
      %li
        = label_tag :user
        = select_tag :user, options_for_select([])
    %ul
      %li
        = label_tag :password, "PIN"
        = password_field_tag :password
    %ul
      %li
        %ul{:id => 'timeclock_clock_in_out_nav', :class => 'button_nav'}
          %li
            %a{:href => '#timeclock_cancel', :class => 'timeclock_cancel button'} Cancel
          %li
            %a{:href => '#timeclock_clock_in_out', :class => 'timeclock_clock_in_out button'} Clock In / Out