%div{:id => 'overview_header', :class => 'header_container'}
  %h2{:id => 'overview_datetime'}
  %ul{:id => 'overview_action_nav'}
    %li
      %a{:href => '#clock_in_out', :class => 'clock_in_out button big'} Clock In / Out
%ul{:id => 'overview_nav', :class => 'tab_nav'}
  %li
    %a{:href => '#overview_in', :class => 'overview_in selected'} In
  %li
    %a{:href => '#overview_out', :class => 'overview_out selected'} Out
%div{:id => 'overview_pages', :class => 'page_container'}
  %div{:id => 'overview_in'}
    = render :partial => 'timeclock_overview_chart', :locals => {:chart_class => 'overview_chart_in', :chart_line_class => 'overview_chart_in_item'}
  %div{:id => 'overview_out'}
    = render :partial => 'timeclock_overview_chart', :locals => {:chart_class => 'overview_chart_out', :chart_line_class => 'overview_chart_out_item'}