%div{:id => 'timeclock_admin_header', :class => 'header_container'}
  %form{:action => '#employee', :id => 'timeclock_admin_employee', :method => 'get'}
    %ul
      %li= select_tag :employee, options_for_select([])
  %form{:action => '#date', :id => 'timeclock_admin_date', :method => 'get'}
    %ul
      %li
        = select_date Date.today
      %li
        %a{:href => '#prev', :class => 'button prev'} <
      %li
        %a{:href => '#next', :class => 'button next'} >
      %li
        %a{:href => '#today', :class => 'button today'} Today
%ul{:id => 'timeclock_admin_nav', :class => 'tab_nav'}
  %li
    %a{:href => '#admin_timecards', :class => 'timeclock_admin_timecards selected'} Timecards
%div{:id => 'timeclock_admin_pages', :class => 'page_container'}
  %div{:id => 'timeclock_admin_timecards'}
    = render :partial => 'timeclock_admin_timecards'