%ul{:class => "timeclock_overview_chart_list #{chart_class}"}
  %li
    %ul{:class => 'button_nav'}
      %li
        %a{:href => '#refresh', :class => 'button refresh'} Refresh
    %canvas{:class => 'timeclock_overview_chart_header'}
  %li{:class => chart_line_class}
    %h3
    %canvas