%h2{:id => 'transactions_customer_notice'} No customer selected.
%div{:id => 'transactions_customer_data'}
  %div{:id => 'transactions_customer_left'}
    %h3{:id => 'transactions_customer_name'}
    %div{:id => 'transactions_customer_addresses', :class => 'transactions_customer_data_block'}
      %h4 Address
      %p
    %div{:id => 'transactions_customer_emails', :class => 'transactions_customer_data_block'}
      %h4 Email
      %p
    %div{:id => 'transactions_customer_phones', :class => 'transactions_customer_data_block'}
      %h4 Phone
      %p
    %div{:id => 'transactions_customer_license', :class => 'transactions_customer_data_block'}
      %h4 Drivers License
      %p
    %div{:id => 'transactions_customer_notes', :class => 'transactions_customer_data_block'}
      %h4 Notes
      %p
  %div{:id => 'transactions_customer_right'}
    %div{:id => 'transactions_customer_flagged', :class => 'transactions_customer_important'}
      %h3 Flagged
      %p
    %div{:id => 'transactions_customer_credit', :class => 'transactions_customer_important'}
      %h3 Store Credit
      %p
    %div{:id => 'transactions_customer_history', :class => 'transactions_customer_important'}
      %h3 Transaction History
      %table
        %thead
          %tr
            %th Date
            %th Amount
        %tbody
          %tr
            %td 12/31/00 4:32PM
            %td $200  