%div{:id => 'transactions_receipt', :class => 'modal'}
  %object{:id => 'transactions_receipt_window', :name => 'receipt_window', :data => ''}
  %ul{:id => 'transactions_receipt_nav', :class => 'button_nav'}
    %li
      %a{:href => '#close', :class => 'close button'} Close
    %li
      %a{:href => '#print', :class => 'print button'} Print