%h2{:id => 'transactions_cart_search_results_notice'} No results.
%table{:id => 'transactions_cart_search_results_table'}
  %thead
    %tr
      %th Title
      %th Description
      %th Tags
      %th SKU
      %th Price
      %th Credit
      %th Cash
      %th Taxable
      %th Discountable
  %tbody
    %tr{:"data-object-id" => 0}
      %td{:class => 'title'}
      %td{:class => 'description'}
      %td{:class => 'tags'}
      %td{:class => 'sku'}
      %td{:class => 'price'}
      %td{:class => 'credit'}
      %td{:class => 'cash'}
      %td{:class => 'taxable'}
      %td{:class => 'discountable'}