%div{:id => 'transactions_till', :class => 'modal'}
  %h2 Select a till...
  %form{:action => '#tills'}
    %ul
      %li
        = select_tag :till, options_for_select([])
    %ul
      %li
        %ul{:id => 'tills_till_nav', :class => 'button_nav'}
          %li
            %a{:href => '#select', :class => 'select button'} Select