%ul{:id => 'transactions_nav', :class => 'large_tab_nav'}
  %li
    %a{:href => '#customer', :class => 'customer'} 1. Customer
  %li
    %a{:href => '#cart', :class => 'cart'} 2. Cart
  %li
    %a{:href => '#payment', :class => 'payment'} 3. Payment
  %li
    %a{:href => '#review', :class => 'review'} 4. Review
%div{:class => 'summary_container'}
  %ul{:id => 'summary', :class => 'summary_nav'}
    %li
      %h2{:id => 'summary_customer'}
    %li 
      %h2 &#124;
    %li
      %h2{:id => 'summary_item_count'} 0 item(s)
    %li
      %h2 &#124;
    %li
      %h2{:id => 'summary_total'} $0.00
  %ul{:id => 'finish', :class => 'button_nav'}
    %li
      %a{:href => '#finish', :class => 'button big disabled'} Finish