%div{:id => 'till', :class => 'modal'}
  %h2 Select a till...
  = form_for :till, :method => 'get', :url => '#tills' do |t|
    %ul
      %li
        = t.select :id, @tills.map { |till| [till.title, till.id] }
    %ul
      %li
        %ul{:id => 'till_nav', :class => 'button_nav'}
          %li
            = link_to "Cancel", dashboard_root_path, :class => 'cancel button'
          %li
            %a{:href => '#select', :class => 'select button'} Select