%div{:id => 'transaction', :class => 'section_container'}
  %ul{:id => 'transaction_nav', :class => 'drop_nav'}
    %li{:id => 'transaction_nav_till'}
    %li
      %a{:href => '#reset', :class => 'button reset'} Reset
  %section{:id => 'customer'}
    = render :partial => 'customer'
  %section{:id => 'cart'}
    = render :partial => 'cart'
  %section{:id => 'payment'}
    = render :partial => 'payment'
  %section{:id => 'review'}
    = render :partial => 'review'