%ul{:id => 'overview_chart_list', :class => chart_class}
  %li
    %ul{:class => 'button_nav'}
      %li
        %a{:href => '#refresh', :class => 'button refresh'} Refresh
    %ul{:id => 'overview_chart_header'}
      %li 12:00a
      %li 12:00p
      %li 12:00a
  %li{:class => 'overview_chart_item'}
    %h3
    %canvas