section#overview

  div#overview_header
    form#overview_select
      float: left
      margin: 20px 0px
      
    ul.overview_action_nav
      float: right
      margin: 20px 0px
      
    ul
      li
        margin-bottom: 0px
        
        select
          margin-top: 8px
          
        a.button
          margin-top: 8px
          padding: 5px 6px 4px
          
      li:last-child
        margin-right: 0px
          
  div#overview_form
    form
      ul
        > li
          &:last-child
            margin-bottom: 0px