%div{:class => 'standard_receipt'}
  %hgroup
    %h1 Gameroom
    %h2 1709 O St. Lincoln NE 68508 402-438-7161
  %table{:class => 'lines'}
    %thead
      %tr
        %th Qty.
        %th SKU
        %th Title
        %th Subtotal
    %tbody
      %tr
        %td{:class => 'quantity'} 1
        %td{:class => 'sku'} 1000434100
        %td{:class => 'title'} X-Box 360
        %td{:class => 'subtotal'} $20.00
      %tr
        %td{:class => 'quantity'} 2
        %td{:class => 'sku'} 1000434010
        %td{:class => 'title'} Nintendo Console
        %td{:class => 'subtotal'} $34.24
  %table{:class => 'summary'}
    %tbody
      %tr{:id => 'subtotal'}
        %td Subtotal
        %td $54.24
      %tr{:id => 'tax'}
        %td Tax
        %td $2.40
      %tr{:id => 'divider'}
        %td
        %td =========
      %tr{:id => 'total'}
        %td Total
        %td $56.84
      %tr{:id => 'divider'}
        %td
        %td =========
      %tr{:id => 'payment'}
        %td Cash
        %td $56.84
      %tr{:id => 'change'}
        %td Change
        %td $0.00