#main_container
  %header
    %hgroup
      %h1 GAMEROOM
      %h2 1709 O St. Lincoln NE 68508 402-438-7161
  #section_container
    %section{:id => 'login'}
      = render :partial => 'login_form'
%footer
  = render :partial => 'footer'