%div{:id => 'review_header', :class => 'header_container'}  
  %div{:id => 'review_options'}
    = form_for :receipt, :method => 'get', :url => root_path do |f|
      %ul
        %li
          = f.label :quantity, "Receipt Qty."
          = f.text_field :quantity, :value => 1
  %h2{:id => 'review_customer'} No customer
%ul{:id => 'review_nav', :class => 'tab_nav'}
  %li
    %a{:href => '#review_lines', :class => 'review_lines selected'} Review
%div{:class => 'page_container'}
  %div{:id => 'review_lines'}
    %table
      %thead
        %tr
          %th Qty.
          %th SKU
          %th Title
          %th Description
          %th Price
          %th Subtotal
      %tbody
        %tr
          %td{:class => 'quantity'}
          %td{:class => 'sku'}
          %td{:class => 'title'}
          %td{:class => 'description'}
          %td{:class => 'price'}
          %td{:class => 'subtotal'}
  %div{:id => 'review_summary'}
    %table
      %tbody
        %tr{:id => 'subtotal'}
          %td Subtotal
          %td
        %tr{:id => 'tax'}
          %td Tax
          %td
        %tr{:id => 'divider'}
          %td
          %td =========
        %tr{:id => 'total'}
          %td Total
          %td
        %tr{:id => 'divider'}
          %td
          %td =========
        %tr{:id => 'payment'}
          %td
          %td
        %tr{:id => 'change'}
          %td Change Due
          %td
        